@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/*
=================================
Layout
=================================
*/

body {
	background-color: hsl(217, 54%, 11%);
	font-family: "Outfit", sans-serif;
}

.wrapper {
	background-color: hsl(216, 50%, 16%);
	width: 21em;
	max-width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	padding: 1.5em;
	box-sizing: border-box;
	border-radius: 10px;
}

/*
=================================
Components
=================================
*/

.preview-img {
	background-image: url("./images/image-equilibrium.jpg");
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	border-radius: inherit;
	overflow: hidden;
}

.preview-img-overlay {
	padding: 0;
	background-color: hsla(178, 100%, 50%, 60%);
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.preview-img:hover > .preview-img-overlay {
	cursor: pointer;
	visibility: visible;
}

.preview-img-overlay,
.preview-img-overlay > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nft-title {
	color: white;
	font-size: 1.5rem;
	margin-bottom: 0;
}

.nft-title:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}

.nft-desc {
	color: hsl(215, 51%, 70%);
	letter-spacing: 1px;
	line-height: 1.75rem;
}

.nft-properties {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.nft-value {
	color: hsl(178, 100%, 50%);
	font-weight: 600;
}

.nft-value::before {
	content: url("images/icon-ethereum.svg");
	margin-right: 8px;
	vertical-align: middle;
}

.nft-time-remaining {
	color: hsl(215, 51%, 70%);
	font-weight: 600;
}

.nft-time-remaining::before {
	content: url("images/icon-clock.svg");
	margin-right: 8px;
	vertical-align: middle;
}

hr {
	margin: 0.8em 0 0.8em 0;
	width: 100%;
	border-color: hsl(215, 32%, 27%);
}

.author-details {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.author-avatar {
	height: 2.25em;
	width: auto;
	border: 2px solid white;
	border-radius: 50%;
}

.author-details {
	color: hsl(215, 51%, 70%);
}

.author-name {
	color: white;
}

.author-name:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}

/*
=================================
Viewports
=================================
*/

@media screen and (min-width: 769px) {
	.wrapper {
		width: 19em;
		box-shadow: rgb(12, 23, 41) 0 0 10px;
	}
	.nft-title {
		font-size: 1.3rem;
	}
	.nft-desc,
	.author-details {
		font-size: 0.9rem;
	}
	.nft-properties {
		font-size: 0.8rem;
	}
}
